
.home .one-line-card-frame{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.one-line-card-frame .title{
    font-family: 'Pretendard-Regular';
    width: fit-content;
    padding-left: 100px;
    color: var(--gray-4);
}

.two-line-card-frame .title{
    font-family: 'Pretendard-Regular';
    font-size: 32px;
    width: fit-content;
    padding-left: 80px;
    margin-bottom: 10px;
    color: var(--gray-4);
}

.two-line-card-frame .card-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1296px;
  height: 1040px;
  gap: 10px;
}


.card-list.two-line-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  width: 1180px;
  height: 1040px;   
  overflow: hidden;
  scroll-behavior: smooth;
}

.card-list.two-line-layout .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 374px;
    height: 470px;
    background-color: var(--ffffff-30);
    border-radius: 20px;
    flex-shrink: 0;
}

.two-line-card-frame .card-frame .card-list-frame {
    width: 1180px;
    height: 1040px;
    overflow-x: hidden; /* 좌우 스크롤 */
}

.card-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 20px;
    width: 100%;
}

.card-frame .nav-button{
    width: 48px;
    height: 48px;
}

.card-list-frame {
    display: flex;
    align-items: center;
    width: 1198px;
    height: fit-content;
    overflow: hidden;
}

.card-list {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    gap: 20px;
    width: max-content;
    height: fit-content;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.card-list .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    width: 374px;
    height: 470px;
    background-color: var(--ffffff-30);
    border-radius: 20px;
    flex-shrink: 0;
}

.card .info-frame {
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 4px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.info-frame .content-frame{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
    height: fit-content;
}

.card .info-head {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap: 4px;
    width: fit-content;
    height: fit-content;
}

.info-head .name {
    font-family: "Pretendard-Regular";
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-20);
    width: fit-content;
    color: var(--black);
}

.info-head .location-frame {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: fit-content;
    height: fit-content;
}

.info-head .distance {
    font-family: "Pretendard-Regular";
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-16);
    width: fit-content;
    color: var(--gray-5);
}

.one-line-card-frame .info-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: fit-content;
    height: fit-content;
}

.info-list .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
    height: fit-content;
}

.card .title{
    font-family: "Pretendard-Regular";
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-14);
    width: fit-content;
    color: var(--gray-5);
    padding: 0;
}

.card .image{
    width: 100%;
    aspect-ratio: 333/205;
    object-fit: cover;
    display: block;
}