.search-map-container {
  max-width: 800px;
  margin: 0 auto;
}

.search-map-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.map-box {
  width: 100%;
  max-width: 600px;
  height: 300px;
  background-color: #666;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}