.search-map-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.search-map-title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 40px;
  font-size: 32px;
}

.map-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.map {
  width: 100%;
  max-width: 1000px;
  height: 400px; /* 필수 */
}

.map-box {
  width: 100%;
  max-width: 600px;
  height: 300px;
  background-color: #666;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}